---
import "../styles/global.css";
import SEO from "../components/SEO.astro";
import type { Language } from "../i18n/config";

interface Props {
  title: string;
  description: string;
  keywords?: string;
  lang: Language;
}

const { title, description, keywords, lang } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <SEO
      title={title}
      description={description}
      keywords={keywords}
      lang={lang}
    />

    <!-- Fuentes de Google -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&family=Inter:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    /> -->
  </head>

  <body>
    <slot />
  </body>
</html>
